body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: linear-gradient(to left, orange, yellow, green);
}

main{
    display: flex;
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;
}
aside{
    flex-direction: 1;
    overflow-y: auto;
    margin-top: 120px;
    color: purple;
}